<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<beans:bean class="com.huytcm.bookstore.auth.DefaultRolesPrefixPostProcessor" />

	<beans:bean id="myUserDetailsService" 
	class="com.huytcm.bookstore.service.impl.UserDetailsServiceImpl"></beans:bean>

	<!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		<headers>
			<frame-options disabled="true"/>
		</headers>
		<intercept-url pattern="/" access="isAuthenticated()" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/all-history" access="hasRole('ADMIN')" />
		<intercept-url pattern="/add-new-book" access="hasRole('ADMIN')" />
		<intercept-url pattern="/*" access="isAuthenticated()" />
		

		<!-- access denied page -->
		<access-denied-handler error-page="/accessDenied" />
		<form-login login-page="/login" login-processing-url="/j_spring_security_check"
			authentication-success-handler-ref="loginSuccessHandler"
			authentication-failure-handler-ref="loginFailedHandler"
			username-parameter="username" password-parameter="password" />
		<logout invalidate-session="true" logout-url="/j_spring_security_logout"
			success-handler-ref="logoutHandler" />

	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailsService">
			<!-- <password-encoder hash="md5"/> -->
		</authentication-provider>
	</authentication-manager>


	<beans:bean id="loginSuccessHandler" class="com.huytcm.bookstore.auth.LoginSuccessHandler"></beans:bean>
	<beans:bean id="loginFailedHandler" class="com.huytcm.bookstore.auth.LoginFailedHandler"></beans:bean>
	<beans:bean id="logoutHandler" class="com.huytcm.bookstore.auth.LogoutHandler"></beans:bean>
</beans:beans>